## Python / Subsets / Hepatitis dataset

### Importing libraries

In [28]:
import pandas as pd

In [29]:
# Reading dataset into a pandas dataframe

col = ['Class', 'AGE', 'SEX', 'STEROID', 'ANTIVIRALS', 'FATIGUE', 'MALAISE', 'ANOREXIA', 'LIVER BIG', 'LIVER FIRM', 'SPLEEN PALPABLE', 'SPIDERS', 'ASCITES', 'VARICES', 'BILIRUBIN', 'ALK PHOSPHATE', 'SGOT', 'ALBUMIN', 'PROTIME', 'HISTOLOGY']
DataFrame = pd.read_csv('hepatitis.csv')
DataFrame.columns = col
DataFrame

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
150,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
151,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
152,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
153,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

### Creating subsets for different sex

In [30]:
# Unique sex values in the dataset

x = pd.unique(DataFrame['SEX'])
x

array([1, 2], dtype=int64)

In [31]:
# Subset for SEX 1

SEX1 = DataFrame[DataFrame['SEX'] == 1]
SEX1

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,2,36,1,2,2,2,2,2,2,2,2,2,2,2,0.60,120,30,4.0,?,2
149,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
150,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
151,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
153,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [32]:
# Subset for SEX 2

SEX2 = DataFrame[DataFrame['SEX'] == 2]
SEX2

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
19,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.90,48,20,4.2,64,1
23,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.40,45,18,4.3,70,1
26,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.40,175,55,2.7,36,1
31,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.70,81,53,5.0,74,1
32,2,26,2,1,2,2,2,2,2,1,2,2,2,2,0.50,135,29,3.8,60,1
36,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
46,2,28,2,2,2,1,1,2,2,1,2,2,2,2,1.80,191,420,3.3,46,1
58,2,45,2,1,2,1,1,2,2,2,1,2,2,2,1.00,85,75,?,?,1
76,2,34,2,1,1,2,2,2,2,1,2,2,2,2,0.60,30,24,4.0,76,1
82,2,67,2,1,2,1,1,2,2,2,?,?,?,?,1.50,179,69,2.9,?,1
83,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
89,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
114,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
124,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
152,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

### Merging subsets

In [33]:
Merged1 = pd.concat([SEX1, SEX2])
Merged1

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
89,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
114,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
124,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
152,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

### Sorting data using age, SGOT, PROTIME

In [34]:
Sorted_Age = DataFrame.sort_values('AGE')
Sorted_Age

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
109,2,7,1,2,2,2,2,2,2,1,1,2,2,2,0.70,256,25,4.2,?,2
120,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1.00,160,118,2.9,23,2
147,2,20,1,1,2,2,2,2,2,?,2,2,2,2,0.90,89,152,4.0,?,2
36,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
100,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,2,67,2,1,2,1,1,2,2,2,?,?,?,?,1.50,179,69,2.9,?,1
114,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
146,1,70,1,1,2,1,1,1,?,?,?,?,?,?,1.70,109,528,2.8,35,2
132,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.00,115,52,3.4,50,2
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1

In [35]:
Sorted_SGOT = DataFrame.sort_values('SGOT')
Sorted_SGOT

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
73,2,50,1,2,2,2,2,2,2,2,2,2,2,2,1.50,100,100,5.3,?,1
130,1,31,1,1,2,1,1,1,2,2,1,2,2,2,8.00,?,101,2.2,?,2
44,2,28,1,2,2,1,1,2,2,2,2,2,2,2,0.70,74,110,4.4,?,1
143,1,45,1,2,2,1,1,1,2,2,2,1,1,2,1.90,?,114,2.4,?,2
89,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,1,39,1,1,1,1,1,2,2,1,2,2,2,2,2.30,280,98,3.8,40,1
6,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,?,?,?,1
117,1,61,1,1,2,1,1,2,?,?,2,1,2,2,?,?,?,?,?,2
55,2,34,1,1,2,?,?,?,?,?,?,?,?,?,?,?,?,?,?,1
5,1,51,1,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1

In [36]:
Sorted_PROTIME = DataFrame.sort_values('PROTIME')
Sorted_PROTIME

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
129,2,54,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,30,4.5,0,2
37,2,42,1,1,2,2,2,2,2,2,2,2,2,2,1.00,85,14,4.0,100,1
52,2,40,1,2,1,1,2,2,2,1,1,2,2,2,1.20,85,31,4.0,100,1
95,2,30,1,1,2,1,1,2,2,1,2,1,2,2,0.80,147,128,3.9,100,2
59,2,37,1,2,2,2,2,2,2,2,2,2,2,2,0.70,26,58,4.5,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2
50,2,39,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,20,4.0,?,1
98,2,60,1,1,2,1,2,2,1,1,1,1,2,2,?,?,40,?,?,2
40,2,23,1,2,2,2,2,2,?,?,?,?,?,?,4.60,56,16,4.6,?,1
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1

### Transposing data

In [37]:
transpose_data = DataFrame.transpose()
transpose_data

,0,1,2,3,4,5,6,7,8,9,...,144,145,146,147,148,149,150,151,152,153
Class,2,2,2,2,2,1,2,2,2,2,...,2,1,1,2,2,1,2,2,2,1
AGE,50,78,31,34,34,51,23,39,30,39,...,31,41,70,20,36,46,44,61,53,43
SEX,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,1
STEROID,1,2,?,2,2,1,2,2,2,1,...,1,2,1,1,2,2,2,1,1,2
ANTIVIRALS,2,2,1,2,2,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
FATIGUE,1,1,2,2,2,1,2,1,2,2,...,1,1,1,2,2,1,1,1,1,1
MALAISE,2,2,2,2,2,2,2,2,2,2,...,2,2,1,2,2,1,2,1,2,2
ANOREXIA,2,2,2,2,2,1,2,2,2,2,...,2,2,1,2,2,1,2,2,2,2
LIVER BIG,1,2,2,2,2,2,2,2,2,1,...,2,2,?,2,2,2,2,1,2,2
LIVER FIRM,2,2,2,2,2,2,2,1,2,1,...,2,1,?,?,2,2,1,1,2,2
SPLEEN PALPABLE,2,2,2,2,2,1,2,2,2,2,...,2,1,?,2,2,2,2,2,1,1
SPIDERS,2,2,2,2,2,1,2,2,2,2,...,2,1,?,2,2,1,2,1,1,1
ASCITES,2,2,2,2,2,2,2,2,2,2,...,2,2,?,2,2,1,2,2,2,1
VARICES,2,2,2,2,2,2,2,2,2,2,...,2,1,?,2,2,1,2,2,1,2
BILIRUBIN,0.90,0.70,0.70,1.00,0.90,?,1.00,0.70,1.00,1.30,...,1.20,4.20,1.70,0.90,0.60,7.60,0.90,0.80,1.50,1.20
ALK PHOSPHATE,135,96,46,?,95,?,?,?,?,78,...,75,65,109,89,120,?,126,75,81,100
SGOT,42,32,52,200,28,?,?,48,120,30,...,173,120,528,152,30,242,142,20,19,19
ALBUMIN,3.5,4.0,4.0,4.0,4.0,?,?,4.4,3.9,4.4,...,4.2,3.4,2.8,4.0,4.0,3.3,4.3,4.1,4.1,3.1
PROTIME,?,?,80,?,75,?,?,?,?,85,...,54,?,35,?,?,50,?,?,48,42
HISTOLOGY,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2

### Melting data to long format

In [38]:
MeltedDf = pd.melt(DataFrame, id_vars = ['Class', 'AGE'], value_name = 'value', var_name = 'Metrics')
MeltedDf

      Class  AGE    Metrics value
0         2   50        SEX     1
1         2   78        SEX     1
2         2   31        SEX     1
3         2   34        SEX     1
4         2   34        SEX     1
...     ...  ...        ...   ...
2767      1   46  HISTOLOGY     2
2768      2   44  HISTOLOGY     2
2769      2   61  HISTOLOGY     2
2770      2   53  HISTOLOGY     2
2771      1   43  HISTOLOGY     2

[2772 rows x 4 columns]

### Casting data to wide format

In [39]:
CastedDf = pd.pivot_table(DataFrame, index=['Class', 'AGE'], values = 'HISTOLOGY')
CastedDf

           HISTOLOGY
Class AGE
1     30         2.0
      31         2.0
      33         2.0
      34         1.0
      35         2.0
...              ...
2     66         1.0
      67         1.0
      69         2.0
      72         2.0
      78         1.0

[71 rows x 1 columns]